In [1]:
sc

In [2]:
df=spark.read.csv('salesrecord.csv',inferSchema=True,header=True)

In [3]:
df

DataFrame[Region: string, Country: string, Item Type: string, Sales Channel: string, Order Priority: string, Order Date: string, Order ID: int, Ship Date: string, Units Sold: int, Unit Price: double, Unit Cost: double, Total Revenue: double, Total Cost: double, Total Profit: double]

In [4]:
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|    503890.08| 165258.24|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|     151880.4|  131288.4|     20592.0|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.85| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|      70036.2|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|    583484.16| 470364.16|    113120.0|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|     437.2|   263.33|    3396169.6|2045547.44|  1350622.16|
|                Asia|          Taiwan|         Fruits|      Offline|             M|  2/9/2014|732588374| 2/23/2014|      8034|      9.33|     6.92|     74957.22|  55595.28|    19361.94|
|Middle East and N...|         Algeria|      Cosmetics|       Online|             M| 2/18/2011|761723172| 2/24/2011|      9669|     437.2|   263.33|    4227286.8|2546137.77|  1681149.03|
|                Asia|       Singapore|         Snacks|       Online|             C| 1/28/2013|176461303|  2/7/2013|      7676|    152.58|    97.44|   1171204.08| 747949.44|   423254.64|
|Australia and Oce...|Papua New Guinea|        Clothes|      Offline|             L| 6/20/2011|647164094| 7/14/2011|      9092|    109.28|    35.84|    993573.76| 325857.28|   667716.48|
|                Asia|         Vietnam|  Personal Care|       Online|             M|  4/4/2010|314505374|  5/6/2010|      7984|     81.73|    56.67|    652532.32| 452453.28|   200079.04|
|  Sub-Saharan Africa|          Uganda|  Personal Care|       Online|             M| 6/19/2014|539471471| 7/21/2014|       451|     81.73|    56.67|     36860.23|  25558.17|    11302.06|
|  Sub-Saharan Africa|        Zimbabwe|Office Supplies|      Offline|             C| 3/28/2011|953361213|  4/8/2011|      9623|    651.21|   524.96|   6266593.83|5051690.08|  1214903.75|
|  Sub-Saharan Africa|        Ethiopia|      Cosmetics|       Online|             M|  7/7/2011|807785928| 7/25/2011|       662|     437.2|   263.33|     289426.4| 174324.46|   115101.94|
|              Europe|          France|      Cosmetics|       Online|             M| 12/7/2015|324669444| 1/18/2016|      5758|     437.2|   263.33|    2517397.6|1516254.14|  1001143.46|
|Central America a...|     The Bahamas|  Personal Care|       Online|             C| 1/19/2011|246248090| 2/21/2011|      9137|     81.73|    56.67|    746767.01| 517793.79|   228973.22|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: integer (nullable = true)
 |-- Unit Price: double (nullable = true)
 |-- Unit Cost: double (nullable = true)
 |-- Total Revenue: double (nullable = true)
 |-- Total Cost: double (nullable = true)
 |-- Total Profit: double (nullable = true)

In [6]:
df.count()

500000

In [7]:
#stastical properties of a column
d=input("Enter the Column Name:")
df.describe(d).show()

Enter the Column Name:Total Profit
+-------+------------------+
|summary|      Total Profit|
+-------+------------------+
|  count|            500000|
|   mean|392479.96458844113|
| stddev|378751.68881151016|
|    min|              2.41|
|    max|         1738700.0|
+-------+------------------+

In [8]:
#using filter function to find the sales of particular Country
i=input("Enter the Country:")
df.filter(df.Country==i).show()

Enter the Country:South Africa
+------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|            Region|     Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Sub-Saharan Africa|South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Sub-Saharan Africa|South Africa|           Meat|      Offline|             M| 7/30/2013|458715951| 8/11/2013|      3098|    421.89|   364.69|   1307015.22|1129809.62|    177205.6|
|Sub-Saharan Africa|South Africa|        Clothes|      Offline|             M| 6/25/2010|284995067| 7/24/2010|      5228|    109.28|    35.84|    571315.84| 187371.52|   383944.32|
|Sub-Saharan Africa|South Africa|        Clothes|      Offline|             H| 7/17/2017|305048978| 8/14/2017|      9626|    109.28|    35.84|   1051929.28| 344995.84|   706933.44|
|Sub-Saharan Africa|South Africa|      Beverages|      Offline|             L| 9/14/2015|965685212| 10/1/2015|      6569|     47.45|    31.79|    311699.05| 208828.51|   102870.54|
|Sub-Saharan Africa|South Africa|         Cereal|      Offline|             H|10/28/2011|354274594|10/28/2011|      6580|     205.7|   117.11|    1353506.0|  770583.8|    582922.2|
|Sub-Saharan Africa|South Africa|      Household|      Offline|             H| 1/27/2015|921660077| 2/15/2015|      8553|    668.27|   502.54|   5715713.31|4298224.62|  1417488.69|
|Sub-Saharan Africa|South Africa|      Household|      Offline|             M| 3/27/2015|462633264|  4/8/2015|      2318|    668.27|   502.54|   1549049.86|1164887.72|   384162.14|
|Sub-Saharan Africa|South Africa|      Cosmetics|       Online|             C| 7/25/2017|646401917|  8/6/2017|      3547|     437.2|   263.33|    1550748.4| 934031.51|   616716.89|
|Sub-Saharan Africa|South Africa|      Baby Food|       Online|             L| 3/18/2015|296029889|  4/6/2015|       677|    255.28|   159.42|    172824.56| 107927.34|    64897.22|
|Sub-Saharan Africa|South Africa|         Cereal|       Online|             C|12/24/2011|288434302|  2/1/2012|      2975|     205.7|   117.11|     611957.5| 348402.25|   263555.25|
|Sub-Saharan Africa|South Africa|         Fruits|       Online|             C| 5/22/2013|944898736|  6/2/2013|      5389|      9.33|     6.92|     50279.37|  37291.88|    12987.49|
|Sub-Saharan Africa|South Africa|Office Supplies|      Offline|             L| 2/14/2017|619386279|  3/9/2017|      9019|    651.21|   524.96|   5873262.99|4734614.24|  1138648.75|
|Sub-Saharan Africa|South Africa|  Personal Care|       Online|             C|  8/6/2015|445722472| 8/27/2015|      8039|     81.73|    56.67|    657027.47| 455570.13|   201457.34|
|Sub-Saharan Africa|South Africa|  Personal Care|      Offline|             L| 8/25/2012|443608033| 9/16/2012|      2330|     81.73|    56.67|     190430.9|  132041.1|     58389.8|
|Sub-Saharan Africa|South Africa|         Cereal|      Offline|             H| 8/22/2014|941953027| 9/29/2014|      3688|     205.7|   117.11|     758621.6| 431901.68|   326719.92|
|Sub-Saharan Africa|South Africa|         Fruits|       Online|             H| 2/20/2016|726955306|  4/6/2016|      1084|      9.33|     6.92|     10113.72|   7501.28|     2612.44|
|Sub-Saharan Africa|South Africa|         Fruits|       Online|             L| 7/23/2013|929988229| 7/29/2013|      3038|      9.33|     6.92|     28344.54|  21022.96|     7321.58|
|Sub-Saharan Africa|South Africa|      Beverages|      Offline|             L| 8/11/2014|596978890| 8/15/2014|      8175|     47.45|    31.79|    387903.75| 259883.25|    128020.5|
|Sub-Saharan Africa|South Africa|      Cosmetics|       Online|             H|  9/1/2011|135359561|  9/9/2011|      4757|     437.2|   263.33|    2079760.4|1252660.81|   827099.59|
+------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

In [10]:
#generalizing the filter function to user given column name and value.
d=input("Enter Column Name:")
i=input("Enter Value:")
df.filter(df[d]==i).show()

Enter Column Name:Country
Enter Value:India
+------+-------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Region|Country|    Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+------+-------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Asia|  India|       Snacks|       Online|             L|10/10/2012|440306556|11/20/2012|      5349|    152.58|    97.44|    816150.42| 521206.56|   294943.86|
|  Asia|  India|Personal Care|      Offline|             H|  3/5/2010|829856431| 4/15/2010|      1814|     81.73|    56.67|    148258.22| 102799.38|    45458.84|
|  Asia|  India|         Meat|      Offline|             C| 2/18/2010|631333053| 3/24/2010|      4335|    421.89|   364.69|   1828893.15|1580931.15|    247962.0|
|  Asia|  India|   Vegetables|      Offline|             H| 2/27/2011|369167077|  4/4/2011|      3597|    154.06|    90.93|    554153.82| 327075.21|   227078.61|
|  Asia|  India|    Baby Food|      Offline|             H|  8/1/2014|156325423| 8/29/2014|      9021|    255.28|   159.42|   2302880.88|1438127.82|   864753.06|
|  Asia|  India|       Snacks|       Online|             M| 3/17/2016|802643382|  4/2/2016|      8868|    152.58|    97.44|   1353079.44| 864097.92|   488981.52|
|  Asia|  India|    Baby Food|      Offline|             M|  1/2/2013|327396714| 2/11/2013|      2818|    255.28|   159.42|    719379.04| 449245.56|   270133.48|
|  Asia|  India|    Cosmetics|       Online|             M| 3/17/2015|965667188|  5/3/2015|      1235|     437.2|   263.33|     539942.0| 325212.55|   214729.45|
|  Asia|  India|         Meat|      Offline|             C|  4/6/2016|723653829| 4/20/2016|      4104|    421.89|   364.69|   1731436.56|1496687.76|    234748.8|
|  Asia|  India|       Snacks|       Online|             H|  2/3/2010|476497066| 3/13/2010|      4925|    152.58|    97.44|     751456.5|  479892.0|    271564.5|
|  Asia|  India|    Beverages|       Online|             M|10/29/2016|577301776| 11/2/2016|      5279|     47.45|    31.79|    250488.55| 167819.41|    82669.14|
|  Asia|  India|    Cosmetics|       Online|             H| 3/29/2011|635151660| 4/15/2011|      4346|     437.2|   263.33|    1900071.2|1144432.18|   755639.02|
|  Asia|  India|    Household|       Online|             M| 2/26/2017|278114020|  4/2/2017|      8974|    668.27|   502.54|   5997054.98|4509793.96|  1487261.02|
|  Asia|  India|         Meat|       Online|             H|  1/8/2011|951109874|  2/2/2011|      3402|    421.89|   364.69|   1435269.78|1240675.38|    194594.4|
|  Asia|  India|    Cosmetics|       Online|             H| 9/18/2010|889031112| 10/1/2010|      2917|     437.2|   263.33|    1275312.4| 768133.61|   507178.79|
|  Asia|  India|       Fruits|      Offline|             L| 10/5/2010|409612643|10/26/2010|      2338|      9.33|     6.92|     21813.54|  16178.96|     5634.58|
|  Asia|  India|       Fruits|      Offline|             H|12/22/2014|397013986| 2/10/2015|      4116|      9.33|     6.92|     38402.28|  28482.72|     9919.56|
|  Asia|  India|    Baby Food|       Online|             H| 1/28/2010|313514888| 3/13/2010|      4877|    255.28|   159.42|   1245000.56| 777491.34|   467509.22|
|  Asia|  India|       Snacks|      Offline|             L| 5/30/2017|597553098|  7/7/2017|      8095|    152.58|    97.44|    1235135.1|  788776.8|    446358.3|
|  Asia|  India|    Cosmetics|       Online|             L| 5/31/2011|335485827|  6/6/2011|      6566|     437.2|   263.33|    2870655.2|1729024.78|  1141630.42|
+------+-------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

In [11]:
#finding covariance and correlation between two columns
a=input("Enter C1:")
b=input("Enter C2:")
print("Covariance:",df.cov(a,b))
print("Correlation:",df.corr(a,b))

Enter C1:Unit Price
Enter C2:Unit Cost
Covariance: 37567.56828820225
Correlation: 0.9860397737591339

In [12]:
#crearing RDD for the csv file
data = sc.textFile("salesrecord.csv")
data = data.map(lambda line: line.split(","))
data

PythonRDD[52] at RDD at PythonRDD.scala:53

In [4]:
import os
import findspark
findspark.init()
import pyspark
from pyspark.sql.functions import *
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

def convert_to_df(path):
    df=spark.read.format("csv").option("header","true").option("inferSchema","true").load(path)
    return df
    
def data_cleaning_replace(df): 

    for i in df.dtypes:
        if i[1] == 'string':
            c= df.groupBy(i[0]).count().sort(desc("count")).distinct() #pyspark sql has sql like function, so the logic to find the most frequent value is to display count of every distinct value in the column in descending order, and the 1st value will be most frequent one n it should be not null 
        
            df=df.fillna({i[0]:c.where(col(i[0]).isNotNull()).collect()[0][0]})

        elif i[1] == 'float' or i[1] =='int' or i[1]=='double':
    
            df=df.fillna({i[0]:df.select(i[0]).agg(avg(i[0])).collect()[0][0]}) #this function finds mean of int and float columns and fills empty cells with it 
        
    return df

In [5]:
path= r'salesrecord.csv'

In [6]:
df =  convert_to_df(path)

In [7]:
df

DataFrame[Region: string, Country: string, Item Type: string, Sales Channel: string, Order Priority: string, Order Date: string, Order ID: int, Ship Date: string, Units Sold: int, Unit Price: double, Unit Cost: double, Total Revenue: double, Total Cost: double, Total Profit: double]

In [7]:
df = data_cleaning_replace(df)

In [8]:
df

DataFrame[Region: string, Country: string, Item Type: string, Sales Channel: string, Order Priority: string, Order Date: string, Order ID: int, Ship Date: string, Units Sold: int, Unit Price: double, Unit Cost: double, Total Revenue: double, Total Cost: double, Total Profit: double]

NameError: name 'df' is not defined